{% extends 'base.html' %}
{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-md-3 bg-dark text-white p-4" style="min-height: 100vh;">
      <h4>Employer</h4>
      <hr>
      <ul class="nav flex-column">
        <li class="nav-item"><a class="nav-link text-white" href="#">Post a Job</a></li>
        <li class="nav-item"><a class="nav-link text-white" href="#">Manage Jobs</a></li>
        <li class="nav-item"><a class="nav-link text-white" href="#">View Applications</a></li>
        <li class="nav-item"><a class="nav-link text-white" href="#">Settings</a></li>
      </ul>
    </div>
    <div class="col-md-9 p-4">
      <h2>Welcome, Employer!</h2>
      <p>Post jobs and manage your applications easily.</p>
      <hr>
      <!-- Dashboard content -->
      <div class="card shadow-sm">
        <div class="card-body">
          <h5 class="card-title">Job Posting Stats</h5>
          <p class="card-text">You have posted 0 jobs.</p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
